.aside{
  border-right: 2px solid #0779e4;
}
.aside .logo a::before{
  border-top: 4px solid #0779e4;
  border-left: 4px solid #0779e4;
}
.aside .logo a::after{
  border-right: 4px solid #0779e4;
  border-bottom: 4px solid #0779e4;
}
body.dark .aside .nav li a:hover,
body.dark .aside .nav li a.active,
.aside .nav li a:hover,
.aside .nav li a.active{
  color: #0779e4;
}
.exp .exp-content .timeline .timeline-item::before,
.exp .exp-content .timeline .circle-dot,
.edu .exp-content .education .timeline .timeline-item::before,
.edu .exp-content .education .timeline .circle-dot,
.btn,
.section-title h2::before,
.section-title h2::after,
.home .intro .social-link a,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after{
  background-color: #0779e4;
}
.contact-text,
.contact .contact-info-item .icon .fa,
.timeline-text span,
.edu .exp-content .exp-text h3 span,
.exp .exp-content .exp-text h3 span{
  color: #0779e4;
}
.project .project-item-inner{
  border: 2px solid #0779e4;
}